# Node modules
/node_modules/

# Build output
/build/
/dist/

# Log bestanden
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Omgevingsvariabelen
.env

# VSCode instellingen
.vscode/

# MacOS
.DS_Store
