<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
  <script src="https://alcdn.msauth.net/browser/2.35.0/js/msal-browser.min.js"></script>
  <title>Fallback Auth Dialog</title>
</head>
<body>
  <p>Authenticatie bezig, even geduld...</p>
  <script>
    // MSAL-configuratie
    const msalConfig = {
      auth: {
        clientId: "82d99688-d922-4bfc-8d2d-e2871eb05ebd", // Jouw CLIENT_ID
        authority: "https://login.microsoftonline.com/82022306-deb0-41be-94c4-763bf46d3547",
        redirectUri: window.location.origin + "/fallbackauthdialog.html",
        navigateToLoginRequestUrl: false
      },
      cache: {
        cacheLocation: "localStorage",
        storeAuthStateInCookie: true
      },
      system: {
        loggerOptions: {
          loggerCallback: (level, message, containsPii) => {
            if (!containsPii) {
              console.log(message);
            }
          }
        }
      }
    };

    // Vereiste scopes: we willen o.a. naar SharePoint-lijsten kunnen schrijven
    const loginRequest = {
      scopes: ["User.Read", "Sites.ReadWrite.All"]
    };

    const msalInstance = new msal.PublicClientApplication(msalConfig);

    // Handle redirect
    msalInstance.handleRedirectPromise()
      .then(response => {
        if (!response) {
          // Nog geen token: start login
          msalInstance.loginRedirect(loginRequest);
        } else {
          // We hebben een response: check of het een access token is of alleen een id_token
          if (response.accessToken && response.tokenType === "Bearer") {
            // Gelukt: we hebben een Graph-access token
            Office.onReady(() => {
              Office.context.ui.messageParent(JSON.stringify({
                status: "success",
                result: response.accessToken
              }));
            });
          } else if (response.idToken) {
            // We hebben alleen een id_token => vraag een access token aan
            msalInstance.acquireTokenRedirect(loginRequest);
          }
        }
      })
      .catch(error => {
        console.error("MSAL-fout:", error);
        Office.onReady(() => {
          Office.context.ui.messageParent(JSON.stringify({
            status: "failure",
            error: error.message || error
          }));
        });
      });
  </script>
</body>
</html>
